
Unity/BlueMarble/Temp/UnityLockfile
Unity/BlueMarble/Library/ArtifactDB
Unity/BlueMarble/Library/ArtifactDB
Unity/BlueMarble/Library/Artifacts/1e/1e0502105443408f4e26684f06fcb8e8
Unity/BlueMarble/Library/Artifacts/20/2059cf21e014d14f4b3aa4d50aec6866
Unity/BlueMarble/Library/Artifacts/57/5723228b536359d9792743d94ab40faa
Unity/BlueMarble/Library/Artifacts/5b/5b926c4050a38504454937ab2f73315d
Unity/BlueMarble/Library/Artifacts/5d/5daaf29a33664aa98461368c4c3220a3
Unity/BlueMarble/Library/Artifacts/73/73961eddcd63172ee2045466c08a835f
Unity/BlueMarble/Library/Artifacts/88/88d4376b29d94074fb8ff25597e9fc86
Unity/BlueMarble/Library/Artifacts/ec/ecd44b1224e7edc0aa9729f76437ff88
Unity/BlueMarble/Library/Artifacts/f5/f5c7e9c7f7d2845bd2e5a46edefc0bb3
*.asset
*.asset
*.dll
*.pdb
*.asset
*.txt
Unity/BlueMarble/Library/ArtifactDB
Unity/BlueMarble/Library/Artifacts/f8/f8e889c88248b99fba2fbe37e1014ccb
*.asset
Unity/BlueMarble/Library/SourceAssetDB
*.backup
*.asset
Unity/BlueMarble/Temp/UnityTempFile-b854adc2ce72e384fb63703e98bd76bd
Unity/BlueMarble/Temp/UnityTempFile-c105eebc5630b204b86a6f4693bc0f62
Unity/BlueMarble/Temp/UnityTempFile-a1ebfd5ea5fba5a4b855d22e85cab5bb
Unity/BlueMarble/Temp/UnityTempFile-8f1dd37c4c5b0b045a1795510aff7e7d
Unity/BlueMarble/Temp/UnityTempFile-887ca307636fc07488f0bbc2e73d0d14
Unity/BlueMarble/Temp/UnityTempFile-55286e9104600104fbdf089ac797e7fd
*.hash
*.log
Unity/BlueMarble/Library/SourceAssetDB
Unity/BlueMarble/Library/Artifacts/3a/3a702ab7ba4d114bdc5a8952de0cb726
Unity/BlueMarble/Library/Artifacts/2e/2ea53b6808ba5d5fba564055d6efb2be
