
Unity/BlueMarble/Temp/UnityLockfile
*.asset
*.asset
*.dll
*.pdb
*.asset
*.txt
Unity/BlueMarble/Library/ArtifactDB
*.asset
*.backup
*.asset
*.hash
*.log
Unity/BlueMarble/Library/SourceAssetDB
Unity/BlueMarble/Library/Artifacts/
*.json
Unity/BlueMarble/Temp/
Unity/BlueMarble/Library/
*.asset
Unity/BlueMarble/Library/InspectorExpandedItems.asset
*.log
Unity/BlueMarble/Library/ArtifactDB
Unity/BlueMarble/Library/SceneVisibilityState.asset
Unity/BlueMarble/Library/SourceAssetDB
